	<!DOCTYPE html>
	<html>
	<head>
		<title>FB JS App</title>
	</head>
	<body>

	<script>


		// initialize and setup facebook js sdk
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId            : '187056212163254',
	      autoLogAppEvents : true,
	      xfbml            : true,
	      version          : 'v3.0'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "https://connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	</body>
	</html>